html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 20px auto;
  width: 1024px;
}

.navigator a {
  display: block;
}
.spin {
  width: 50px;
  transition: all ease-in-out 200ms;
}

.spin:hover {
  transform: rotate(60deg);
}
